#app {
    &.popover-app {
        margin: 0;
        padding: 0;
        height: 100%;
        //overflow: hidden;

        .popover {
            .player-wrapper {
                grid-template-areas:
                    "hp init"
                    "settings ac";
                justify-content: flex-start;
                gap: 12px;
                border-bottom: none;
                padding: 10px 10px 0;

                &.player {
                    grid-template-areas:
                        "hp ac"
                        "init init";
                }

                .settings {
                    grid-area: settings;
                }

                .current-hp {
                    grid-area: hp;
                    align-items: center;
                    &::before {
                        display: block;
                        content: "HP: ";
                    }
                }

                .armor-class {
                    grid-area: ac;
                    align-items: center;
                    min-width: unset;

                    &::before {
                        display: block;
                        content: "AC: ";
                    }
                }

                .initiative-wrapper {
                    grid-area: init;
                    align-items: center;
                    &::before {
                        display: block;
                        content: "Init: ";
                    }
                }
            }
        }
    }
}
