.popover-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;

  label {
    display: flex;
    gap: 5px;

    input[type="number"] {
      width: 40px;
    }
  }
}
