#app {
    .multiselection {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        height: 90px;
    }

    &.popover-app {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        .popover-spinner {
            margin: auto;
            padding: 15px;
            width: 60px;
            height: 100%;
        }

        .popover {
            .player-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1ch;
                border-bottom: none;
                padding: 10px 10px;
                height: 70px;

                .settings {
                    order: 2;
                }

                .current-hp {
                    align-items: center;
                    order: 0;
                    &::before {
                        display: block;
                        content: "HP: ";
                    }
                }

                .armor-class {
                    align-items: center;
                    order: 3;
                    min-width: unset;

                    &::before {
                        display: block;
                        content: "AC: ";
                    }
                }

                .initiative-wrapper {
                    align-items: center;
                    order: 1;
                    width: auto;

                    .toggle-button {
                        display: none;
                    }

                    &::before {
                        display: block;
                        content: "Init: ";
                    }
                }

                input[type="text"] {
                    width: 28px;
                }
            }
        }
    }
}
