@use "../utilities/breakpoint";
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    max-width: 100%;
    color: var(--text-color);
    font-weight: 400;

    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto, system-ui, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    @-moz-document url-prefix() {
        scrollbar-color: rgba(255, 255, 255, 0.5) rgba(55, 55, 55, 0.1);
        scrollbar-width: thin;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    position: relative;
    margin: 0;
    background: transparent;

    user-select: none;

    &::-webkit-scrollbar {
        background-color: rgba(55, 55, 55, 0.1);
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:not(:has(.roll-log-popover, .modal-wrapper, .modal-app)) {
        &::after {
            background: linear-gradient(to bottom, var(--bg-color) 85%, var(--bg-color-light));
        }
    }

    &::after {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background: transparent;
        width: 100svw;
        height: 100svh;
        overflow: hidden;
        content: "";
    }

    :has(.dddice-login-modal) {
        background: black;
    }
}

#app {
    position: relative;
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: 1280px;
    text-align: center;
}

.inline-markdown {
    display: inline;

    p {
        margin: 0;
    }
}

ul,
menu,
nav {
    all: unset;
    display: revert;
    padding-left: 32px;
    list-style: disc;

    &:not(:not([class])) {
        padding-left: 0;
        list-style: none;
    }
}

table {
    thead {
        font-weight: 800;
    }

    tr,
    th,
    td {
        border: 1px solid white;
        padding: 0.2ch 1ch;
    }
}
