@use "../utilities/breakpoint";

button,
.button {
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.help-buttons {
    display: grid;
    position: fixed;
    top: 1rem;
    right: 1rem;
    grid-template-columns: repeat(5, 25px);
    grid-auto-flow: row;
    gap: 0.5ch;

    @include breakpoint.mobile-and-tablet-only {
        grid-template-columns: repeat(8, 25px);
        grid-template-areas:
            "statblock settings patreon discord changelog help ta ta"
            ". . . . . . ta ta";

        .tabletop-almanac-button {
            grid-area: ta;
        }

        .patreon-button {
            grid-area: patreon;
        }

        .statblock-button {
            grid-area: statblock;
        }

        .settings-button {
            grid-area: settings;
        }

        .discord-button {
            grid-area: discord;
        }

        .change-log-button {
            grid-area: changelog;
        }

        .help-button {
            grid-area: help;
        }
    }

    .statblock-button {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z' fill='%23dddddd'/%3E%3C/svg%3E");
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
    }

    .change-log-button {
        &.ignored {
            animation: changeColor 1s ease-in-out 0s 30 alternate;
        }
    }

    &.statblock {
        display: flex;

        .top-button {
            width: 20px;
            height: 21px;
            font-size: 0.7rem;
        }
    }
}

.top-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--bg-color);
    padding-top: 2px;
    padding-inline: 0;
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
    text-align: center;

    &:hover {
        svg {
            fill: var(--bg-color);
        }
    }

    &.close {
        top: 4.5ch;
    }

    &:hover,
    &focus {
        background-color: white;
        color: #242424;
    }

    svg {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        object-fit: contain;
        object-position: center;
        fill: #dddddd;
        transition: all 0.25s ease;
    }

    &.link {
        padding: 0;
        width: 23px;
        height: 23px;

        svg {
            padding: 2px;
        }
    }

    .square {
        margin: auto;
        border: 1px solid white;
        width: 10px;
        height: 10px;

        &:hover {
            border-color: var(--bg-color);
        }
    }

    &.tabletop-almanac-button {
        grid-row: span 2;
        grid-column: span 2;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        overflow: hidden;

        svg {
            translate: 2px 0;
            scale: 2;
        }
    }
}

.toggle-button {
    cursor: pointer;
    border: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.init-wrapper {
    position: relative;
    height: 30px;

    .initiative-button {
        transition: all 0.25s ease;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='50mm' height='50mm' viewBox='0 0 50 50' version='1.1' id='svg5' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2'%3E%3Crect x='341.01865' y='385.832' width='113.67288' height='76.51059' id='rect363' /%3E%3Crect x='341.01865' y='385.832' width='113.67288' height='76.51059' id='rect363-5' /%3E%3Crect x='341.01865' y='385.832' width='113.67288' height='76.51059' id='rect363-3' /%3E%3Crect x='341.01865' y='385.832' width='113.67288' height='76.51059' id='rect363-5-8' /%3E%3C/defs%3E%3Cg id='layer1' transform='translate(-80,-40)'%3E%3Ccircle style='fill:%23ffffff;stroke-width:0.212772' id='path111-39' cx='105' cy='65' r='20' /%3E%3Cg id='layer1-8' transform='translate(58.52319,1.9955569)'%3E%3Ccircle style='fill:%23808080;stroke-width:0.265965' id='path111' cx='46.47681' cy='63.004444' r='25' /%3E%3Ccircle style='fill:%23cccccc;stroke-width:0.212772' id='path111-39-1' cx='46.47681' cy='63.004444' r='20' /%3E%3C/g%3E%3C/g%3E%3Cg id='layer1-0' transform='translate(-127.51574,-78.200278)' /%3E%3Cstyle type='text/css' id='style306'%3E .st0%7Bfill:%23000000;%7D%0A%3C/style%3E%3Cg id='g338' transform='matrix(0.06691291,0,0,0.06691291,7.8702955,7.8702961)'%3E%3Cpath class='st0' d='M 449.532,105.602 288.463,8.989 C 278.474,2.994 267.235,0 256.011,0 244.772,0 233.528,2.994 223.544,8.989 L 62.475,105.602 c -19.012,11.406 -30.647,31.95 -30.647,54.117 v 192.562 c 0,22.168 11.635,42.711 30.647,54.117 l 161.069,96.613 c 9.984,5.988 21.228,8.989 32.467,8.989 11.225,0 22.463,-3.001 32.452,-8.989 l 161.069,-96.613 c 19.012,-11.406 30.64,-31.949 30.64,-54.117 V 159.719 c 0,-22.167 -11.628,-42.711 -30.64,-54.117 z M 250.599,492.733 c -6.029,-0.745 -11.93,-2.719 -17.32,-5.948 L 72.21,390.172 C 58.904,382.183 50.754,367.803 50.754,352.281 V 159.719 c 0,-6.022 1.236,-11.862 3.518,-17.233 L 250.6,260.246 V 492.733 Z M 59.669,133.114 c 3.364,-4.464 7.593,-8.318 12.541,-11.285 L 233.279,25.216 c 6.995,-4.196 14.85,-6.291 22.732,-6.291 7.868,0 15.723,2.095 22.718,6.291 l 161.069,96.613 c 4.941,2.967 9.184,6.821 12.54,11.285 L 256.011,250.881 Z m 401.585,219.167 c 0,15.522 -8.15,29.902 -21.456,37.891 l -161.069,96.613 c -5.398,3.229 -11.292,5.203 -17.321,5.948 V 260.246 l 196.328,-117.76 c 2.283,5.37 3.518,11.211 3.518,17.233 z' id='path308' /%3E%3Cpath class='st0' d='m 160.209,119.875 c -9.828,-7.278 -26.021,-7.465 -36.165,-0.41 -10.144,7.056 -10.399,18.67 -0.57,25.947 9.828,7.277 26.022,7.459 36.159,0.41 10.15,-7.056 10.405,-18.67 0.576,-25.947 z' id='path310' /%3E%3Cpath class='st0' d='m 279.159,48.686 c -9.829,-7.277 -26.022,-7.458 -36.172,-0.403 -10.137,7.049 -10.393,18.664 -0.564,25.941 9.829,7.284 26.022,7.458 36.159,0.416 10.15,-7.062 10.405,-18.677 0.577,-25.954 z' id='path312' /%3E%3Cpath class='st0' d='m 220.59,82.024 c -9.834,-7.27 -26.028,-7.458 -36.172,-0.403 -10.15,7.049 -10.406,18.664 -0.571,25.941 9.829,7.284 26.022,7.458 36.166,0.416 10.138,-7.062 10.399,-18.676 0.577,-25.954 z' id='path314' /%3E%3Cpath class='st0' d='m 267.437,184.754 c -9.828,-7.277 -26.015,-7.459 -36.159,-0.41 -10.15,7.056 -10.405,18.671 -0.577,25.947 9.828,7.284 26.021,7.459 36.172,0.41 10.137,-7.056 10.392,-18.67 0.564,-25.947 z' id='path316' /%3E%3Cpath class='st0' d='m 386.385,113.564 c -9.828,-7.271 -26.021,-7.458 -36.158,-0.403 -10.151,7.049 -10.406,18.664 -0.577,25.941 9.828,7.284 26.02,7.458 36.172,0.416 10.137,-7.062 10.392,-18.676 0.563,-25.954 z' id='path318' /%3E%3Cpath class='st0' d='m 327.817,146.903 c -9.829,-7.27 -26.022,-7.458 -36.172,-0.403 -10.137,7.049 -10.392,18.664 -0.564,25.941 9.828,7.284 26.021,7.465 36.158,0.416 10.152,-7.062 10.407,-18.669 0.578,-25.954 z' id='path320' /%3E%3Cpath class='st0' d='m 89.289,248.303 c 11.158,6.083 20.194,1.961 20.194,-9.19 0,-11.158 -9.036,-25.128 -20.194,-31.21 -11.157,-6.083 -20.207,-1.967 -20.207,9.19 -10e-4,11.151 9.049,25.128 20.207,31.21 z' id='path322' /%3E%3Cpath class='st0' d='m 202.061,309.771 c 11.158,6.082 20.208,1.967 20.208,-9.184 0,-11.157 -9.05,-25.135 -20.208,-31.217 -11.15,-6.076 -20.194,-1.961 -20.194,9.198 0,11.151 9.044,25.121 20.194,31.203 z' id='path324' /%3E%3Cpath class='st0' d='m 89.289,361.082 c 11.158,6.076 20.194,1.967 20.194,-9.19 0,-11.158 -9.036,-25.129 -20.194,-31.21 -11.157,-6.083 -20.207,-1.968 -20.207,9.19 -10e-4,11.157 9.049,25.128 20.207,31.21 z' id='path326' /%3E%3Cpath class='st0' d='m 202.061,422.55 c 11.158,6.082 20.208,1.967 20.208,-9.191 0,-11.151 -9.05,-25.128 -20.208,-31.21 -11.15,-6.076 -20.194,-1.961 -20.194,9.19 0,11.158 9.044,25.129 20.194,31.211 z' id='path328' /%3E%3Cpath class='st0' d='m 145.675,335.424 c 11.158,6.082 20.201,1.967 20.201,-9.191 0,-11.151 -9.044,-25.128 -20.201,-31.204 -11.158,-6.082 -20.201,-1.967 -20.201,9.185 0,11.156 9.043,25.127 20.201,31.21 z' id='path330' /%3E%3Cpath class='st0' d='m 418.341,207.902 c -11.158,6.082 -20.208,20.053 -20.208,31.21 0,11.151 9.05,15.273 20.208,9.19 11.144,-6.082 20.194,-20.059 20.194,-31.21 0,-11.157 -9.049,-15.273 -20.194,-9.19 z' id='path332' /%3E%3Cpath class='st0' d='m 305.555,382.149 c -11.158,6.082 -20.194,20.059 -20.194,31.21 0,11.158 9.036,15.273 20.194,9.191 11.158,-6.082 20.194,-20.053 20.194,-31.211 0,-11.151 -9.035,-15.265 -20.194,-9.19 z' id='path334' /%3E%3Cpath class='st0' d='m 361.948,295.028 c -11.158,6.076 -20.207,20.053 -20.207,31.204 0,11.158 9.05,15.273 20.207,9.191 11.158,-6.083 20.194,-20.053 20.194,-31.21 0,-11.151 -9.036,-15.266 -20.194,-9.185 z' id='path336' /%3E%3C/g%3E%3C/svg%3E%0A");

        &:disabled {
            filter: invert(1);
        }

        &.rolling {
            animation: rotating 0.5s linear infinite;
        }
    }

    .self {
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 100%;
        z-index: 1;
        transition: all 0.25s ease;

        &.hidden {
            display: none;
        }

        &.visible {
            display: block;
        }

        &:hover {
            background-color: lightgrey;
            color: var(--bg-color);
        }
    }
}

.button-wrapper {
    display: inline-block;
    position: relative;

    &.disabled {
        .dice-button {
            background-color: darkgrey;

            &:hover,
            &:focus {
                svg {
                    animation: none;
                }
            }
        }
    }

    &.three-d-dice {
        margin-bottom: 2px;
        border-radius: 4px;
        background: linear-gradient(to top, grey 50%, transparent);
        height: 24px;

        .dice-button {
            transition: all 0.25s ease;

            &:hover,
            &:focus-visible {
                translate: 0 2px;
            }
        }
    }

    .dice-button {
        display: inline-flex;
        align-items: center;
        gap: 2px;
        padding: 2px 2px;
        font-size: 0.85rem;

        .dice-preview {
            display: flex;
            height: 15px;

            img,
            svg {
                width: 15px;
                max-height: 15px;
                object-fit: contain;
            }

            svg {
                fill: white;
                padding-inline: 2px;
            }
        }

        &:hover,
        &:focus {
            img,
            svg {
                animation: shaking 0.2s alternate linear infinite;
            }
        }

        &.rolling {
            overflow: hidden;
            img,
            svg {
                animation: rotating 0.5s linear infinite;
            }
        }

        &.limit {
            background-color: var(--limit-color);
        }
    }

    .dice-context-button {
        display: none;
        position: absolute;
        right: 0;
        translate: 100% -120%;
        z-index: 10;
        border: 1px solid lightgrey;
        border-radius: 4px;
        background-color: var(--bg-color);
        padding: 1px;

        &.full {
            translate: 100% -75%;
        }

        &.visible {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        button {
            --hover-color: lightgrey;
            transition: all 0.25s ease;
            border: none;
            border-radius: 0;
            width: 100%;
            text-align: left;

            &.advantage {
                --hover-color: rgba(0, 255, 0, 0.6);
            }

            &.disadvantage {
                --hover-color: rgba(255, 0, 0, 0.6);
            }

            &:hover,
            &:focus {
                background-color: var(--hover-color);
                color: var(--bg-color);
            }
        }
    }
}
