input[type="text"],
input[type="password"],
input[type="number"],
select {
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #2b2a33;
    padding-inline: 4px;
    min-width: 22px;
    height: 22px;
    color: var(--text-color);
    font-size: 0.8em;

    &:focus-visible {
        outline: none;
        border-color: black;
    }
}

input[type="checkbox"] {
    cursor: pointer;
    accent-color: #2b2a33;
}
