input[type="text"],
input[type="password"],
input[type="number"] {
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #2b2a33;
    min-width: 22px;
    height: 22px;
    color: var(--text-color);
    font-size: 0.8em;
}

input[type="checkbox"] {
    cursor: pointer;
    accent-color: #2b2a33;
}
