.spellFilters {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5ch;
}

.left {
    justify-content: flex-start;
}

.spellFilter {
    cursor: pointer;
    height: 22px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.7);
        color: black;
    }
}

.active {
    background-color: rgba(255, 255, 255, 0.7) !important;
    color: black;
}

.sticky {
    display: flex;
    position: sticky;
    top: -5px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px 1ch;
    z-index: 1;
    background-color: var(--bg-color);
    padding-block: 1px 5px;
}
