@use "../../../../_css/utilities/breakpoint";

.statblock {
    border: 2px solid grey;
    border-top: none;
    border-radius: 3px;
    padding: 10px;
    height: calc(100% - 22px);
    overflow: hidden;
    text-align: left;
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 2ch;
    margin-bottom: 4px;
    max-height: 46px;
    overflow: hidden;
}

.name {
    margin: 0;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1;
}

.note {
    font-style: italic;
    font-weight: 500;
    font-size: 0.9rem;
}
