.general {
    :global {
        .about {
            h3 {
                margin-block: 4px;
            }
        }
    }
}

.hitDiceWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hitDice {
    margin-block: 0;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(43px, 1fr));
    justify-content: space-between;
    gap: 2px;
}

.savingThrows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1ch;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    display: flex;
    align-items: center;
    gap: 3px;

    :first-child {
        font-weight: bold;
        text-transform: uppercase;
    }

    :last-child {
        font-size: 11px;
    }
}

.value {
    display: flex;
    flex-direction: column;
    :global {
        .button-wrapper {
            width: 100%;

            .dice-button {
                justify-content: space-between;
                background-color: var(--bg-color-light);
                width: 100%;
            }

            &:first-child {
                .dice-button {
                    background-color: var(--bg-color);
                }
            }
        }
    }
}

.header {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    :last-child {
        color: color-mix(in srgb, var(--bg-color-light), white 50%);
    }

    > * {
        font-weight: bold;
    }
}

.infos {
    list-style: none;

    li {
        line-height: 1.2;
    }
}

.ac {
    display: flex;
    align-items: center;
    gap: 1ch;
}
