@use "../../../../_css/utilities/breakpoint";

.values {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;

    @include breakpoint.tablet {
        min-width: 206px;
    }

    :global {
        .init-wrapper {
            .dice-context-button {
                right: unset;
                left: 0;
                translate: 0 10px;
            }
        }
    }
}
