.heading {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.1;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1px;
    padding-bottom: 20px;
    padding-inline: 20px !important;
    list-style: none;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1ch;
    border-radius: 2px;
    padding-inline: 1ch;
    width: 170px;
    line-height: 1.3;

    b {
        padding-block: 4px 2px;
    }

    &:nth-child(even) {
        justify-self: flex-end;
        :global {
            .button-wrapper {
                .dice-context-button {
                    right: unset;
                    left: 0;
                    translate: -100% -50%;
                }
            }
        }
    }
}
