.global-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 10px;

    .heading {
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
    }

    h3 {
        margin-block: 0;
    }

    .setting {
        display: grid;
        grid-template-columns: 4fr 1fr;
        justify-content: flex-start;
        text-align: left;
    }

    .group-list {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        .group {
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 2px 5px;

            button {
                cursor: pointer;
                border: none;
                background-color: transparent;
                color: white;

                &:hover {
                    color: red;
                }
            }
        }
    }
}
