#DiceCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 90svw;
    height: 90svh;
    pointer-events: none;

    &.statblock-dice-tray {
        top: calc(60px + 1rem);
    }

    &.hide {
        display: none;
    }
}

.dice-room {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100svw;
    max-height: calc(100vh - 5rem);

    &.statblock-dice-tray {
        max-height: calc(100vh - (70px + 1rem));
    }

    &.open {
        .dice-tray-wrapper {
            grid-template-rows: 1fr;
            border-top: 1px solid white;
        }
    }

    button:not(.dice-button) {
        background-color: #282828;
    }

    .dice-room-buttons {
        display: flex;

        .custom-dice-wrapper {
            position: relative;
            align-self: flex-end;
            order: 3;
            transition: all 0.25s ease;
            height: 30px;

            &:nth-child(-n + 4) {
                order: 1;
            }

            &:hover,
            &:focus-visible {
                height: 35px;
            }

            &.has-dice {
                align-self: flex-start;
                height: 50px;
            }

            .custom-dice {
                translate: 0 1px;
                transition: all 0.25s ease;
                border-bottom: none;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                background: linear-gradient(to bottom, #282828, #282828);
                padding-inline: 0;
                min-width: 30px;
                height: 100%;

                &.disabled {
                    filter: grayscale(1);
                    cursor: default;

                    &:hover {
                        background: linear-gradient(to bottom, #282828, #282828);
                    }
                }

                &.rolling {
                    .preview-image {
                        animation: rotating 1s linear infinite;
                    }
                }

                &:hover {
                    background: linear-gradient(to bottom, #454545 80%, #282828);
                }

                .add-svg {
                    fill: white;
                }

                .custom-dice-preview-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-around;
                    justify-content: space-around;
                    align-items: center;
                    max-width: 45px;
                    max-height: 40px;
                    overflow: hidden;

                    * {
                        flex: 1;
                        width: 100%;
                        min-width: 20px;
                        height: 100%;
                    }

                    :nth-child(n + 5) {
                        display: none;
                    }

                    .preview-image {
                        max-width: 20px;
                        overflow: hidden;
                        object-fit: contain;

                        &:only-child {
                            max-width: 40px;
                        }
                    }

                    .modifier {
                        text-align: center;
                    }
                }
            }

            .add-custom-dice {
                display: flex;
                position: absolute;
                top: 0;
                left: 50%;
                translate: -50% -100%;

                .success {
                    border-color: green;
                    background-color: rgb(33, 79, 36);
                }

                .error {
                    border-color: red;
                    background-color: rgb(79, 33, 36);
                }

                .save-custom-dice {
                    &:disabled {
                        cursor: default;
                    }
                }
            }

            .remove-dice {
                position: absolute;
                top: 1px;
                right: 0;
                translate: -50% 0;
                visibility: hidden;
                opacity: 0;
                z-index: 100;
                transition: all 0.25s ease;

                &.hover {
                    translate: 75% 0;
                    visibility: visible;
                    opacity: 1;
                }

                &:hover {
                    border-color: red;
                    background-color: rgb(79, 33, 36);
                }
            }
        }

        .open-dice-tray {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            order: 2;
            translate: 0 1px;
            transition: all 0.25s ease-in-out;
            border-bottom: 1px solid #282828;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            width: 45px;
            height: 45px;

            .roll-log-svg {
                fill: white;
                width: 30px;
            }

            &:hover,
            &:focus {
                border-bottom-color: white;
                background-color: white;
                height: 50px;

                .roll-log-svg {
                    fill: black;
                }
            }
        }
    }

    .dice-tray-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 0.25s ease-in-out;
        box-shadow: 0 -15px 25px #1b1b1b;
        border-top: 1px solid #282828;
        width: 100%;
        overflow: hidden;

        .dice-tray {
            background-color: #282828;
            min-height: 0;
            overflow-y: auto;
            &::-webkit-scrollbar {
                background-color: rgba(55, 55, 55, 0.1);
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.5);
            }
            .dice-tray-content {
                padding: 10px 20px;

                .top {
                    display: flex;
                    justify-content: space-between;

                    .room-link {
                        display: flex;
                        align-items: center;
                        gap: 1ch;

                        .copy-link {
                            display: flex;
                            transition: all 0.25s ease-in-out;
                            padding: 3px;
                            width: 20px;

                            &:hover,
                            &:focus {
                                background-color: white;

                                .copy-icon {
                                    fill: #1c1b22;
                                }
                            }

                            .copy-icon {
                                fill: white;
                                transition: all 0.25s ease-in-out;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dice-settings {
    border: 1px solid lightgrey;
    padding: 2px;
    text-align: left;

    .setting {
        display: flex;
        align-items: center;
        gap: 1ch;

        &.dice-theme {
            &.invalid {
                .theme-input {
                    border-color: red;
                    background-color: rgba(255, 0, 0, 0.2);
                }
            }

            &.searching {
                .theme-preview {
                    animation: rotating 0.3s linear infinite;
                }
            }

            .theme-input {
                width: 100px;
            }

            .theme-preview {
                width: auto;
                height: 2em;
            }
        }
    }
}

.roll-log {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1ch;
    padding: 0;
    list-style: none;

    &.popover {
        .roll-log-entry {
            border: none;
            background-color: #1c1b22dd;

            .button-wrapper {
                display: none;
            }

            .roll-equation {
                display: flex;
            }
        }
    }

    .roll-log-entry {
        display: grid;
        grid-template-columns: 70px auto auto 80px;
        grid-template-areas:
            "context context divider total"
            "user user divider total"
            "detail detail divider total"
            "reroll reroll divider total";
        column-gap: 1ch;
        align-content: flex-start;
        border: 1px solid dimgrey;
        border-radius: 5px;
        background-color: #1c1b22;
        padding: 10px;
        min-width: 250px;
        max-width: 500px;
        text-align: left;
        white-space: nowrap;

        &.self {
            align-self: flex-end;
        }

        &.old-roll {
            grid-template-columns: 70px auto auto 50px;
            grid-template-areas:
                "context context divider total"
                "user user divider total";
            padding-block: 2px;
            min-width: 200px;

            .detailed-result {
                display: none;
            }

            .button-wrapper {
                display: none;
            }

            .total {
                font-size: 1.5rem;
            }

            .roll-context {
                align-self: flex-end;
            }
        }

        .roll-time {
            grid-row: 1;
            grid-column: 4/5;
            justify-self: flex-end;
            padding: 1px;
            font-size: 0.8rem;
        }

        .roll-context {
            grid-area: context;
            font-weight: bolder;

            .label-detail {
                text-transform: capitalize;

                &.to-hit,
                &.attack {
                    color: #1b9af0;
                }

                &.damage {
                    color: #df7b7b;
                }

                &.check {
                    color: #b55dff;
                }

                &.save {
                    color: #6cbf5b;
                }
                &.custom,
                &.roll {
                    color: #f5a623;
                }
            }
        }

        .username {
            grid-area: user;
            color: dimgrey;
            font-weight: bolder;
            font-size: 0.9rem;
        }

        .button-wrapper {
            grid-area: reroll;
            justify-self: flex-start;
        }

        .roll-equation {
            display: none;
            grid-area: reroll;
        }

        .detailed-result {
            grid-area: detail;
            justify-self: flex-start;
            max-width: 250px;
            overflow: hidden;
            font-weight: bolder;
            font-size: 1.2rem;
            text-overflow: ellipsis;
        }

        .divider {
            grid-area: divider;
            align-self: center;
            color: dimgrey;
            font-size: 3rem;
        }

        .total {
            grid-area: total;
            align-self: center;
            justify-self: center;
            font-weight: bold;
            font-size: 3rem;
        }

        .dice {
            display: flex;
            column-gap: 1ch;
            flex-wrap: wrap;
            align-items: center;
            padding: 0;
            list-style: none;

            .die {
                display: flex;
                align-items: center;
                gap: 2px;
            }
        }
    }
}
