#DiceCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 90svw;
    height: 90svh;
    pointer-events: none;

    &.statblock-dice-tray {
        top: calc(60px + 1rem);
    }

    &.hide {
        display: none;
    }
}

.dice-room {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100svw;

    button:not(.dice-button) {
        background-color: #282828;
    }

    .dice-room-buttons {
        display: flex;

        .custom-dice-wrapper {
            position: relative;
            align-self: flex-end;
            order: 3;

            &:nth-child(-n + 4) {
                order: 1;
            }

            &:hover,
            &:focus-visible {
                .custom-dice {
                    height: 45px;
                }
            }

            .custom-dice {
                translate: 0 1px;
                transition: all 0.25s ease;
                border-bottom: none;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                padding-inline: 0;
                min-width: 30px;
                height: 40px;

                .add-svg {
                    fill: white;
                }

                .custom-dice-preview-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    max-width: 45px;

                    .preview-image {
                        height: 20px;
                        object-fit: contain;
                    }
                }
            }

            .remove-dice {
                position: absolute;
                top: 1px;
                right: 0;
                translate: -50% 0;
                visibility: hidden;
                opacity: 0;
                z-index: 100;
                transition: all 0.25s ease;

                &.hover {
                    translate: 75% 0;
                    visibility: visible;
                    opacity: 1;
                }

                &:hover {
                    border-color: red;
                    background-color: rgb(79, 33, 36);
                }
            }
        }

        .open-dice-tray {
            display: flex;
            justify-content: center;
            align-items: center;
            order: 2;
            translate: 0 1px;
            transition: all 0.25s ease-in-out;
            border-bottom: 1px solid #282828;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            width: 45px;
            height: 45px;

            .dice-svg {
                width: 30px;
            }

            &:hover,
            &:focus {
                background-color: white;
                height: 50px;

                .dice-svg {
                    fill: black;
                }
            }
        }
    }

    &.open {
        max-height: calc(100vh - 5rem);

        &.statblock-dice-tray {
            max-height: calc(100vh - (70px + 1rem));
        }

        .dice-tray-wrapper {
            grid-template-rows: 1fr;
            border-top: 1px solid white;
        }
    }

    .dice-tray-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 0.25s ease-in-out;
        box-shadow: 0 -15px 25px #1b1b1b;
        border-top: 1px solid #282828;
        width: 100%;
        overflow: hidden;

        .dice-tray {
            min-height: 0;
            overflow-y: auto;

            .dice-tray-content {
                background-color: #282828;
                padding: 10px 20px;

                .top {
                    display: flex;
                    justify-content: space-between;
                    .room-link {
                        display: flex;
                        align-items: center;
                        gap: 1ch;

                        .copy-link {
                            display: flex;
                            transition: all 0.25s ease-in-out;
                            padding: 3px;
                            width: 20px;

                            &:hover,
                            &:focus {
                                background-color: white;

                                .copy-icon {
                                    fill: #1c1b22;
                                }
                            }

                            .copy-icon {
                                fill: white;
                                transition: all 0.25s ease-in-out;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                }

                .roll-log {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    list-style: none;

                    .roll-log-entry {
                        display: flex;
                        align-items: flex-start;
                        gap: 1ch;
                        white-space: nowrap;

                        .dice {
                            display: flex;
                            column-gap: 1ch;
                            flex-wrap: wrap;
                            align-items: center;
                            padding: 0;
                            list-style: none;

                            .die {
                                display: flex;
                                align-items: center;
                                gap: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dice-settings {
    border: 1px solid lightgrey;
    padding: 2px;
    text-align: left;

    .setting {
        display: flex;
        align-items: center;
        gap: 1ch;

        &.dice-theme {
            &.invalid {
                .theme-input {
                    border-color: red;
                    background-color: rgba(255, 0, 0, 0.2);
                }
            }

            &.searching {
                .theme-preview {
                    animation: rotating 0.3s linear infinite;
                }
            }

            .theme-input {
                width: 100px;
            }

            .theme-preview {
                width: auto;
                height: 2em;
            }
        }
    }
}
