body:has(.popover-app) {
    overflow: hidden;
}

#app {
    .multi-selection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        padding-inline: 10px;
        height: 100px;
        overflow: hidden;

        .token-names {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 0;
            height: 100%;
            overflow-y: scroll;
            list-style: none;

            .token-entry {
                padding-block: 1px;
                padding-left: 5px;
                width: calc(100% - 5px);
                text-align: left;
            }

            &::-webkit-scrollbar {
                background-color: #1c1b22;
                width: 12px;
            }

            &::-webkit-scrollbar-thumb {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #555;
            }
        }

        .changes {
            display: flex;
            flex-direction: column;
            gap: 1ch;
            .hp {
                display: grid;
                grid-template-areas:
                    "input heal"
                    "input damage";
                justify-content: space-around;
                align-items: center;
                gap: 2px;

                .input {
                    grid-area: input;
                    max-width: 30px;
                }

                .heal {
                    grid-area: heal;
                    background-color: rgba(0, 255, 0, 0.2);
                }

                .damage {
                    grid-area: damage;
                    background-color: rgba(255, 0, 0, 0.2);
                }
            }
        }
    }

    &.popover-app {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100px;

        .popover-spinner {
            margin: auto;
            padding: 15px;
            width: 60px;
            height: 100%;
        }

        .popover {
            height: 100%;
            overflow: hidden;
            .player-wrapper {
                display: grid;
                grid-template-areas:
                    "hp temp"
                    "ac init"
                    "settings settings";
                column-gap: 1ch;
                row-gap: 2px;
                justify-content: space-between;
                border-bottom: none;
                padding: 10px 10px;
                height: calc(100% - 20px);

                .settings {
                    grid-area: settings;
                    justify-self: center;
                }

                .current-hp {
                    grid-area: hp;
                    align-items: center;

                    &::before {
                        display: block;
                        margin: 0;
                        min-width: 26px;
                        content: "HP: ";
                    }
                }

                .temp-hp {
                    grid-area: temp;
                    justify-self: flex-end;
                    white-space: nowrap;
                }

                .armor-class {
                    grid-area: ac;
                    align-items: center;
                    min-width: unset;

                    &::before {
                        display: block;
                        min-width: 26px;
                        content: "AC: ";
                    }
                }

                .initiative-wrapper {
                    grid-area: init;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-self: flex-end;
                    width: auto;

                    &::before {
                        display: none;
                    }

                    &::after {
                        display: block;
                        min-width: 26px;
                        content: "Init: ";
                    }
                }

                input[type="text"] {
                    width: 28px;
                }
            }
        }
    }
}
