.about {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;

    &.no-title {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .about-content-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition:
            all 0.25s ease,
            opacity 0.5s ease;

        &.open {
            grid-template-rows: 1fr;
            opacity: 1;
        }

        &.hidden {
            opacity: 0;
            .about-content {
                overflow: hidden;
            }
        }

        .about-content {
            min-height: 0;
        }
    }
}
