@use "../utilities/breakpoint";

.character-sheet {
    height: calc(100vh - 80px);
    overflow: hidden;

    .statblock-wrapper {
        flex-grow: 1;
        height: calc(100% - 84px);
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100vw - 10px);
        height: calc(100vh + 10px);
        overflow: hidden;
    }

    .back-button {
        display: flex;
        position: fixed;
        top: 1rem;
        left: 1rem;
        align-items: center;
        gap: 0;
        z-index: 200;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 4px;
        background-color: var(--bg-color);
        font-size: 0;

        @include breakpoint.laptop {
            left: 1rem;
            gap: 5px;
            font-size: 12px;
        }

        &::before {
            transition: width 0.25s ease-in-out;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' preserveAspectRatio='none'%3E%3Cpath d='M359-242 120-481l239-239 43 43-166 166h604v60H236l166 166-43 43Z' fill='white'/%3E%3C/svg%3E");
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            content: "";
        }

        &:hover {
            &::before {
                width: 25px;
            }
        }
    }

    .help-buttons {
        z-index: 200;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
            background-color: var(--bg-color);
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #555;
        }

        .statblock-top {
            background: linear-gradient(to bottom, var(--bg-color) 90%, transparent);
            text-align: center;

            .statblock-name {
                margin: 0;

                .note {
                    font-size: 12px;
                }
            }
        }

        .ruleset-error {
            display: flex;
            gap: 1ch;
        }

        .top-wrapper {
            display: flex;
            align-items: center;
            gap: 10ch;
            margin-bottom: 10px;
            border-bottom: 1px solid white;
            padding-bottom: 10px;

            .custom-statblock-wrapper {
                text-align: left;
            }

            .search-wrapper {
                display: flex;
                align-items: center;
                gap: 5px;

                .search {
                    cursor: pointer;
                    border: none;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 -960 960 960' width='48'%3E%3Cpath d='M796-121 533-384q-30 26-69.959 40.5T378-329q-108.162 0-183.081-75Q120-479 120-585t75-181q75-75 181.5-75t181 75Q632-691 632-584.85 632-542 618-502q-14 40-42 75l264 262-44 44ZM377-389q81.25 0 138.125-57.5T572-585q0-81-56.875-138.5T377-781q-82.083 0-139.542 57.5Q180-666 180-585t57.458 138.5Q294.917-389 377-389Z' fill='white' /%3E%3C/svg%3E");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    width: 20px;
                    height: 20px;
                }

                .empty {
                    border-color: red;
                    background-color: rgba(255, 0, 0, 0.2);
                }
            }
        }

        .empty-search {
            margin-top: 20px;
        }

        .search-loader {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
        }

        .search-results {
            display: flex;
            flex-direction: column;
            padding: 0;
            height: 100%;

            .search-result {
                display: grid;
                grid-template-columns: 1fr repeat(3, 0.5fr);
                justify-content: stretch;
                gap: 15px;
                cursor: pointer;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding: 2px;
                text-align: left;

                &.current {
                    box-shadow: inset rgba(255, 255, 255, 0.8) 3px 0 3px;
                    text-shadow: rgba(255, 255, 255, 0.8) 0 0 5px;
                }

                &.custom {
                    background-color: #00ff0011;
                }

                > * {
                    white-space: nowrap;

                    &:not(:first-child) {
                        text-align: right;
                    }
                }

                &:hover {
                    box-shadow: -5px 5px 20px #00000059;
                }
            }
        }
    }
}

.pf-sheet {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
    text-align: left;

    @include breakpoint.laptop {
        grid-template-columns: repeat(2, 1fr);
    }

    > * {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }

    .saving-throws {
        grid-column: span 1;

        .saving-throw-list {
            padding: 0;
            list-style: none;

            .name {
                text-transform: capitalize;
            }
        }
    }

    .what {
        grid-column: span 1;

        h3 {
            margin: 0 0 5px;
        }
    }

    .values {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: span 1;

        .init {
            .initiative-wrapper {
                width: min-content;
                .init-wrapper {
                    width: auto;
                    .dice-button {
                        width: min-content;
                    }
                }
            }
        }
    }

    .about {
        grid-column: span 2;
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 1;
        justify-content: space-between;
        gap: 10px;

        .stat {
            display: flex;
            flex-direction: column;
            text-align: center;

            .stat-name {
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }

    .skills {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        .skill-list {
            display: flex;
            column-gap: 30px;
            flex-wrap: wrap;

            .skill {
                display: flex;
                gap: 1ch;
                min-width: 250px;

                .skill-name {
                    font-weight: 800;
                }
            }
        }
    }

    .actions,
    .reactions,
    .spells,
    .about,
    .special-abilities {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }
    }

    .ability-list {
        display: flex;
        flex-direction: column;
        gap: 1ch;
        padding: 0;
        list-style: none;
    }
}

.e5-statblock {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 30px;
    margin-top: 20px;
    text-align: left;

    @include breakpoint.laptop {
        grid-template-columns: repeat(2, 1fr);
    }

    > * {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }

    .ability-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;
        list-style: none;
    }

    .what {
        grid-column: span 1;

        h3 {
            margin: 0 0 5px;
        }
    }

    .values {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column: span 1;
        flex-direction: column;
        justify-items: flex-start;
        gap: 1ch;

        .hp {
            .hit-dice {
                margin-top: 2px;
                margin-left: 25px;
            }
        }

        .ac {
            white-space: wrap;
        }

        .speed {
            grid-column: span 2;
        }
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 1;
        align-content: center;
        justify-content: space-between;
        gap: 10px;

        .stat {
            display: flex;
            flex-direction: column;
            text-align: center;

            .stat-name {
                font-weight: 600;
                text-transform: uppercase;
            }

            .stat-value {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1ch;
            }
        }
    }

    .tidbits {
        grid-column: span 1;

        .saving-throws {
            .saving-throw-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 2px;
                text-transform: capitalize;

                .saving-throw {
                    display: flex;
                    align-items: center;
                    gap: 2px;
                }
            }
        }
    }

    .about {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }
    }

    .skills {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        h3 {
            margin-bottom: 5px;
            border-bottom: 1px solid white;
            width: 100%;
        }

        ul {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0;
            list-style: none;

            @include breakpoint.laptop {
                grid-template-columns: repeat(2, 1fr);
            }

            .skill {
                display: flex;
                align-items: center;
                gap: 2px;

                b {
                    text-transform: capitalize;
                }
            }
        }
    }

    .resistances,
    .items {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        h3 {
            margin-bottom: 5px;
        }
    }

    .limits {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }
    }

    .spell-slots {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }
    }

    .actions {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        h3 {
            border-bottom: 1px solid white;
            width: 100%;
        }
    }

    .bonus-actions {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        h3 {
            border-bottom: 1px solid white;
            width: 100%;
        }
    }

    .lair-actions {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        h3 {
            border-bottom: 1px solid white;
            width: 100%;
        }
    }

    .mythic-actions {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        h3 {
            border-bottom: 1px solid white;
            width: 100%;
        }
    }

    .reactions {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        h3 {
            border-bottom: 1px solid white;
            width: 100%;
        }
    }

    .special-abilities {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        h3 {
            border-bottom: 1px solid white;
            width: 100%;
        }
    }

    .legendary-actions {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        h3 {
            border-bottom: 1px solid white;
            width: 100%;
        }
    }

    .spells {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }

        .top {
            display: flex;
            align-items: flex-end;
            gap: 1ch;
            margin-bottom: 1rem;
            border-bottom: 1px solid white;
            width: 100%;

            h3 {
                margin-top: 0;
                margin-bottom: 0;
                line-height: 25px;
            }

            span {
                font-size: 14px;
                line-height: 22px;
            }
        }

        .spell-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .license {
        grid-column: span 1;

        @include breakpoint.laptop {
            grid-column: span 2;
        }
    }
}

.expand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;

    &::after {
        display: block;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='white'%3E%3Cpath d='M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z'/%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        content: "";
    }

    &.open {
        &::after {
            transform: rotate(90deg);
        }
    }
}

b {
    font-weight: 800;
}

.limits {
    .limit {
        margin-bottom: 5px;
        border-left: 1px solid white;
        padding-left: 1ch;
    }
}

.limit {
    p {
        margin-block: 4px;
    }

    .limit-heading {
        display: flex;
        align-items: center;
        gap: 1ch;

        h4 {
            margin: 0;
        }

        .limit-uses {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            .limit-use {
                display: grid;
                grid-template-areas: "all";
                justify-content: center;
                align-items: center;
                transition: all 0.25s ease;
                cursor: pointer;
                outline: 1px solid transparent;
                border: 2px solid var(--limit-color);
                border-radius: 30%;
                background: transparent;
                width: 15px;
                height: 15px;

                &:hover {
                    outline-color: var(--limit-color);
                }

                &.used {
                    &::after,
                    &::before {
                        grid-area: all;
                        translate: 0 5%;
                        rotate: 40deg;
                        background-color: #aaa;
                        width: 3px;
                        height: 80%;
                        content: "";
                    }

                    &::before {
                        rotate: -40deg;
                    }
                }
            }
        }
    }
}

.spell-slots {
    position: sticky;
    top: calc(16px + var(--sticky-height));
    z-index: 2;
    transition: all 0.25s ease;
    border-bottom: none;

    h3 {
        margin-block: 0.3rem;
    }

    .spell-slot-limits {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .spell-slot-entry {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid lightslategray;
            border-radius: 8px;
            background-color: var(--bg-color);
            padding: 4px;
        }
    }
}

.jump-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1ch;
    margin: 0;
    padding-left: 0;
    list-style: none;

    &.fixed {
        position: fixed;
        top: calc(65px + 1rem);
        z-index: 3;
        background: linear-gradient(to top, #ffffff00, var(--bg-color) 20px);
        padding-bottom: 20px;
    }

    a {
        padding-inline: 1ch;
        color: lightgrey;
        font-weight: 400;
    }
}

.scroll-target {
    scroll-margin-top: 160px;
}
