.dice-room {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    width: 100svw;
    max-height: calc(100vh - 5rem);

    &.statblock-dice-tray {
        max-height: calc(100vh - (70px + 1rem));
    }

    &.hidden {
        display: none;
    }

    &.open {
        .dice-tray-wrapper {
            grid-template-rows: 1fr;
        }
    }

    button:not(.dice-button),
    .button {
        background: linear-gradient(-45deg, var(--bg1), var(--bg2), var(--bg3), var(--bg4));
    }

    .dice-room-buttons {
        display: flex;
        gap: 1px;

        button {
            box-shadow: 0 -2px 2px var(--button-shadow);
            border: none;
        }

        .custom-dice-wrapper {
            position: relative;
            align-self: flex-end;
            order: 4;
            transition: all 0.25s ease;
            height: 30px;

            &:nth-child(-n + 4) {
                order: 1;
            }

            &:not(.has-dice) {
                &:not(:has(.open)) {
                    &:hover,
                    &:focus-visible {
                        height: 35px;
                    }
                }
            }

            &.has-dice {
                align-self: flex-start;
                height: 50px;
            }

            .custom-dice {
                translate: 0 1px;
                transition:
                    all 0.25s ease,
                    --bg3 0.25s ease,
                    --bg4 0.25s ease;
                border-bottom: none;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                padding-inline: 0;
                min-width: 30px;
                height: 100%;

                &.disabled {
                    filter: grayscale(1);
                    cursor: default;

                    &:hover {
                        background: linear-gradient(-45deg, var(--bg1), var(--bg2), var(--bg3), var(--bg4));
                    }
                }

                &.rolling {
                    .preview-image {
                        animation: rotating 0.5s linear infinite;
                    }
                }

                &:hover {
                    --bg3: #556;
                    --bg4: #778;
                    background: linear-gradient(-45deg, var(--bg1), var(--bg2), var(--bg3), var(--bg4));
                }

                .add-svg {
                    fill: white;
                }

                .custom-dice-preview-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-around;
                    justify-content: space-around;
                    align-items: center;
                    max-width: 45px;
                    max-height: 40px;
                    overflow: hidden;

                    * {
                        flex: 1;
                        width: 100%;
                        min-width: 20px;
                        height: 100%;
                    }

                    :nth-child(n + 5) {
                        display: none;
                    }

                    .preview-image {
                        max-width: 20px;
                        max-height: 20px;
                        overflow: hidden;
                        object-fit: contain;

                        &:only-child {
                            padding-inline: 2px;
                            max-width: 40px;
                            max-height: 40px;

                            svg {
                                width: 35px;
                                height: 35px;
                            }
                        }

                        svg {
                            width: 20px;
                            height: 20px;
                            object-fit: contain;
                            object-position: center;
                            fill: white;
                        }
                    }

                    .modifier {
                        text-align: center;
                    }
                }
            }

            .add-custom-dice {
                display: flex;
                position: absolute;
                top: 0;
                left: 50%;
                flex-direction: column;
                align-items: center;
                gap: 2px;
                translate: -50% -100%;
                z-index: 100;

                .dice-equation {
                    display: flex;

                    .success {
                        border-color: var(--success-border);
                        background-color: rgb(var(--success-bg));
                    }

                    .error {
                        border-color: var(--error-border);
                        background-color: rgb(var(--error-bg));
                    }

                    .save-custom-dice {
                        &:disabled {
                            cursor: default;
                        }
                    }
                }

                .dice-theme {
                    display: flex;
                    align-items: flex-start;
                    gap: 1ch;
                    max-width: 180px;
                    white-space: nowrap;

                    .select {
                        width: 100%;
                        overflow: hidden;

                        .select-current {
                            background: var(--bg-color);
                            max-width: 178px;

                            .current {
                                width: 100%;
                                overflow: hidden;

                                span {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }

                        .height-wrapper {
                            width: 100%;

                            .options-wrapper {
                                max-width: 178px;
                            }
                        }

                        .expand-wrapper {
                            .expand {
                                box-shadow: none;
                                border: none;

                                &::after {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .hidden-roll {
                position: absolute;
                right: 0;
                bottom: -18px;
                visibility: hidden;
                opacity: 0;
                z-index: 100;
                transition: all 0.25s ease;

                &.hover {
                    translate: 0 -100%;
                    visibility: visible;
                    opacity: 1;
                }
            }

            .remove-dice {
                position: absolute;
                top: 1px;
                right: 0;
                translate: -50% 0;
                visibility: hidden;
                opacity: 0;
                z-index: 100;
                transition: all 0.25s ease;

                &.hover {
                    translate: 75% 0;
                    visibility: visible;
                    opacity: 1;
                }

                &:hover {
                    border-color: var(--error-border);
                    background: rgb(var(--error-bg));
                }
            }
        }

        .open-dice-tray,
        .quick-roll-button {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            order: 2;
            translate: 0 1px;
            transition:
                all 0.25s ease,
                --bg3 0.25s ease,
                --bg4 0.25s ease;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            width: 45px;
            height: 45px;

            &.open {
                --bg1: #556;
                --bg2: #778;
                background: linear-gradient(-30deg, var(--bg4), var(--bg3), var(--bg2), var(--bg1));
            }

            .roll-log-svg {
                fill: white;
                width: 30px;
            }

            &:hover,
            &:focus-visible,
            &.open {
                --bg3: #556;
                --bg4: #778;
                background: linear-gradient(-45deg, var(--bg1), var(--bg2), var(--bg3), var(--bg4));
                height: 50px;
            }
        }

        .quick-button-wrapper {
            position: relative;
            align-self: flex-end;
            order: 2;

            &:has(.rolling) {
                .dice-svg {
                    animation: rotating 0.5s linear infinite;
                }
            }

            .quick-roll-button {
                .dice-svg {
                    width: 30px;
                }
            }

            .quick-button-list {
                display: flex;
                position: absolute;
                top: 0;
                left: 50%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                translate: -50% 100%;
                visibility: collapse;
                transition: all 0.25s ease;
                margin: 0;
                padding: 1ch;
                list-style: none;

                &.open {
                    display: flex;
                    flex-direction: column;
                    translate: -50% -100%;
                    visibility: visible;
                    z-index: 2;
                    box-shadow: 0 0 20px var(--button-shadow);
                    border-radius: 5px;
                    background-color: rgba(16, 16, 16, 0.8);
                }

                .quick-custom-roll {
                    display: grid;
                    grid-template-columns: 40px auto;
                    justify-content: space-between;
                    width: 100%;

                    &:has(.rolling) {
                        .dice-svg {
                            animation: rotating 0.25s linear infinite;
                        }
                    }

                    .dice-svg {
                        align-self: center;
                        justify-self: center;
                    }

                    .quick-custom-input {
                        min-width: 40px;
                        text-align: center;

                        &.invalid {
                            border-color: var(--error-border);
                            background-color: rgb(var(--error-bg));
                        }
                    }
                }

                .quick-roll {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    min-width: 40px;

                    &:hover {
                        img,
                        svg {
                            animation: shaking 0.2s alternate linear infinite;
                        }
                    }

                    &.rolling {
                        img,
                        svg {
                            animation: rotating 0.5s linear infinite;
                        }
                    }

                    img {
                        max-width: 40px;
                    }

                    svg {
                        fill: white;
                        max-width: 40px;
                        max-height: 40px;
                    }

                    .self {
                        border: 1px solid white;
                    }
                }
            }
        }
    }

    .dice-tray-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        z-index: 3;
        transition: all 0.25s ease-in-out;
        box-shadow: 0 -15px 25px #1b1b1b;
        background: linear-gradient(-45deg, var(--bg1), var(--bg2), var(--bg3), var(--bg4));
        width: 100%;
        overflow: hidden;

        &:has(.dice-settings) {
            min-height: 200px;
        }

        .dice-tray {
            min-height: 0;
            overflow-y: auto;

            &::-webkit-scrollbar {
                background-color: rgba(55, 55, 55, 0.1);
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.5);
            }

            .dice-tray-content {
                padding: 10px 20px;

                .top {
                    display: flex;
                    justify-content: space-between;

                    .side-buttons {
                        display: flex;
                        gap: 1ch;
                    }

                    .room-link {
                        display: flex;
                        align-items: center;
                        gap: 1ch;

                        .copy-link {
                            display: flex;
                            transition: all 0.25s ease-in-out;
                            padding: 3px;
                            width: 20px;

                            &:hover,
                            &:focus {
                                background: white;

                                .copy-icon {
                                    fill: var(--bg-color);
                                }
                            }

                            .copy-icon {
                                fill: white;
                                transition: all 0.25s ease-in-out;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dice-settings-wrapper {
    position: relative;
    height: 100%;

    .dice-settings-button {
        height: 100%;
    }

    .dice-settings {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        flex-direction: column;
        gap: 0.5ch;
        translate: 0 100%;
        z-index: 200;
        box-shadow:
            -5px 5px 5px #111,
            5px 5px 5px #111;
        border: 1px solid lightgrey;
        border-radius: 5px;
        background-color: #2b2a33;
        padding: 10px;
        text-align: left;

        .close-button {
            align-self: flex-end;
        }

        .setting {
            display: flex;
            align-items: center;
            gap: 1ch;
            white-space: nowrap;

            &.dice-rendering {
                gap: 0;
                .text {
                    .small {
                        font-size: 0.7rem;
                    }
                }
            }

            &.dice-room-select {
                justify-content: space-between;
                align-items: center;
                width: 100%;

                &:has(.room-loader) {
                    justify-content: flex-start;
                }

                .select {
                    width: 100%;
                }

                .room-loader {
                    width: 20px;
                    height: 20px;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &.dice-theme {
                align-items: flex-start;

                &.invalid {
                    .theme-input {
                        border-color: red;
                        background-color: rgba(255, 0, 0, 0.2);
                    }
                }

                &.searching {
                    .theme-preview {
                        animation: rotating 0.3s linear infinite;
                    }
                }

                .theme-loader {
                    width: 20px;
                    height: 20px;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &.dice-room-select,
            &.dice-theme {
                .setting-name {
                    flex-shrink: 0;
                    width: 100px;
                }
            }
        }
    }
}

.roll-log {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1ch;
    padding: 0;
    list-style: none;

    &.popover {
        .roll-log-entry {
            border: none;
            background-color: var(--bg-color);

            .button-wrapper {
                display: none;
            }

            .roll-equation {
                display: flex;
            }
        }
    }

    .more {
        align-self: flex-end;
    }

    .roll-log-entry {
        display: grid;
        grid-template-columns: 70px auto auto 80px;
        grid-template-areas:
            "context context divider total"
            "user user divider total"
            "detail detail divider total"
            "reroll reroll divider total";
        column-gap: 1ch;
        align-content: flex-start;
        transition: all 0.25s ease;
        border: 1px solid dimgrey;
        border-radius: 5px;
        background-color: var(--bg-color);
        padding: 10px;
        min-width: 250px;
        max-width: 500px;
        text-align: left;
        white-space: nowrap;

        &.self {
            align-self: flex-end;
        }

        &:not(:hover) {
            &.old-roll {
                grid-template-columns: 70px auto auto 50px;
                grid-template-areas:
                    "context context divider total"
                    "user user divider total";
                padding-block: 2px;
                min-width: 200px;

                .detailed-result {
                    display: none;
                }

                .button-wrapper {
                    display: none;
                }

                .total {
                    font-size: 1.5rem;
                }

                .roll-context {
                    align-self: flex-end;
                }
            }
        }
        .roll-time {
            grid-row: 1;
            grid-column: 4/5;
            justify-self: flex-end;
            padding: 1px;
            font-size: 0.8rem;
        }

        .hide-toggle {
            grid-row: 1;
            grid-column: 1;
            justify-self: flex-start;
            padding: 0 2px;
            width: min-content;
            height: min-content;
        }

        .roll-context {
            grid-area: context;
            max-width: 250px;
            overflow: hidden;
            font-weight: bolder;
            text-overflow: ellipsis;

            .label-detail {
                text-transform: capitalize;

                &.to-hit,
                &.attack,
                &.cast {
                    color: #1b9af0;
                }

                &.damage {
                    color: #df7b7b;
                }

                &.critical-damage {
                    color: #ff3b3b;
                }

                &.check {
                    color: #b55dff;
                }

                &.save {
                    color: #6cbf5b;
                }
                &.custom,
                &.roll {
                    color: #f5a623;
                }
            }

            .label-name {
                text-transform: capitalize;
            }
        }

        .username {
            grid-area: user;
            max-width: 250px;
            overflow: hidden;
            color: dimgrey;
            font-weight: bolder;
            font-size: 0.9rem;
            text-overflow: ellipsis;
        }

        .button-wrapper {
            grid-area: reroll;
            justify-self: flex-start;
        }

        .roll-equation {
            display: none;
            grid-area: reroll;
        }

        .detailed-result {
            grid-area: detail;
            justify-self: flex-start;
            max-width: 250px;
            overflow: hidden;
            font-weight: bolder;
            font-size: 1.2rem;
            text-overflow: ellipsis;
        }

        .divider {
            grid-area: divider;
            align-self: center;
            color: dimgrey;
            font-size: 3rem;
        }

        .total {
            grid-area: total;
            align-self: center;
            justify-self: center;
            font-weight: bold;
            font-size: 3rem;
        }

        .dice {
            display: flex;
            column-gap: 1ch;
            flex-wrap: wrap;
            align-items: center;
            padding: 0;
            list-style: none;

            .die {
                display: flex;
                align-items: center;
                gap: 2px;
            }
        }
    }
}

.dddice-login-modal {
    justify-content: space-around;
    background-color: black;
    height: calc(100svh - 52px);
    overflow: hidden;
    text-align: center;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.5ch;
        height: 100%;

        .activate {
            display: flex;
            flex-direction: column;
            gap: 0.5ch;

            a {
                margin-bottom: 1ch;
                font-weight: bolder;
                font-size: 1.5rem;
            }

            .code {
                display: flex;
                align-self: center;
                gap: 0.5ch;
                font-size: 2rem;

                .letter {
                    background-color: #1b1b25;
                    padding-inline: 0.7ch;
                    line-height: 1.4;
                }
            }
        }

        .countdown {
            display: flex;
            justify-content: center;
            gap: 1ch;
            padding-block: 1ch;
            color: #99a;
        }

        .or {
            display: flex;
            align-items: center;
            gap: 1ch;
            padding-bottom: 1ch;
            color: #99a;

            &::before,
            &::after {
                border-top: 1px solid #99a;
                width: 100%;
                height: 1px;
                content: "";
            }
        }

        .guest-button {
            align-self: center;
            transition: all 0.25s ease;
            background-color: white;
            padding-inline: 2ch;
            height: 3rem;
            color: black;
            font-weight: bolder;
            font-size: 1rem;

            &:hover {
                box-shadow: 0 0 15px white;
            }
        }
    }
}

.roll-log.popover {
    .detailed-result,
    .username,
    .roll-log-context {
        max-width: 175px;
    }
}

.select {
    display: grid;
    grid-template-areas: "all";

    img {
        width: 35px;
        height: 35px;
        object-fit: cover;
    }

    &.open {
        .select-current {
            opacity: 0;
            z-index: -10;
        }
        .height-wrapper {
            grid-template-rows: 1fr;
            opacity: 1;
            z-index: 10;
        }
    }

    &.close {
        .select-current {
            opacity: 1;
            z-index: 10;
        }
        .height-wrapper {
            opacity: 0;
            z-index: -10;
        }
    }

    .expand-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.25s ease;
        cursor: pointer;
        background-color: #ffffff22;
        width: 30px;

        &:hover {
            background-color: #ffffff55;
        }

        .expand {
            rotate: 90deg;
            border: none;
            background: transparent;
        }
    }

    .select-current {
        display: flex;
        grid-area: all;
        justify-content: space-between;
        gap: 1ch;
        transition: opacity 0.25s linear;
        border: 1px solid white;
        border-radius: 5px;
        background-color: #00000033;
        width: calc(100% - 2px);

        .current {
            display: flex;
            align-items: center;
            gap: 1ch;
            cursor: pointer;
            border-radius: 5px;
            padding: 2px 10px;
        }
    }

    .height-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        grid-area: all;
        transition: all 0.25s linear;
        width: min-content;
        overflow: hidden;

        .options-wrapper {
            display: flex;
            justify-content: space-between;
            border: 1px solid white;
            border-radius: 5px;
            background-color: #00000033;
            width: min-content;
            min-height: 0;

            .select-options {
                display: flex;
                flex-direction: column;
                gap: 2px;
                background-color: var(--bg-color);
                max-height: 240px;
                overflow-x: hidden;
                overflow-y: auto;

                .select-option {
                    display: flex;
                    align-items: center;
                    gap: 1ch;
                    cursor: pointer;
                    border-radius: 5px;
                    padding: 2px 10px;
                    max-width: 200px;
                    min-height: 40px;

                    .name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &.current {
                        background-color: #000000;
                    }
                }
            }

            .expand {
                rotate: -90deg;
            }
        }
    }
}
