.e5-ability {
    display: flex;
    flex-direction: column;

    .name-and-share {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 4px;

        .ability-name {
            font-size: 1.2rem;
        }
    }

    .ability-extra-info {
        display: flex;
        justify-content: space-between;
        gap: 1ch;
        margin-top: 4px;
        padding-left: 1ch;

        .extra-info-with-button {
            display: flex;
            gap: 1ch;
        }
    }
}
