.global-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    & > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.25s ease;
        border-bottom: 1px solid white;
        padding-block: 10px;
        width: 100%;

        &:has(input) {
            &:hover,
            &:focus-visible {
                background-color: #ffffff33;
            }
        }
    }

    h2,
    h4 {
        margin-block: 0;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    input[type="number"] {
        width: 6ch;
    }

    .vertical {
        display: flex;
        flex-direction: column;
    }

    .setting-group {
        align-items: unset;
        gap: 1ch;

        &:hover,
        &:focus-visible {
            background: transparent;
        }

        & > * {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1ch;
            transition: background-color 0.25s ease;

            &:has(input) {
                &:hover,
                &:focus-visible {
                    background-color: #ffffff33;
                }
            }
        }

        .new-group-wrapper {
            &:hover,
            &:focus-visible {
                background-color: transparent;
            }
        }
    }

    .settings-context {
        align-items: flex-start;
        gap: 0;

        h3 {
            margin-block: 0;
        }
    }

    .group-list {
        gap: 4px;

        .group {
            display: flex;
            justify-content: space-between;
            margin-block: 2px;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 2px 5px;

            &.party-group {
                background-color: #88000033;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: dimgrey;
            }

            button {
                cursor: pointer;
                border: none;
                background-color: transparent;
                color: white;

                &:hover {
                    color: red;
                }
            }
        }
    }

    .small {
        font-size: 0.7em;
    }
}
