.global-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;

    .heading {
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
    }

    h2 {
        margin-block: 0;
    }

    .settings-context {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
            margin-block: 0;
        }
    }

    .setting {
        display: grid;
        grid-template-columns: 4fr 1fr;
        justify-content: flex-start;
        gap: 1ch;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        min-width: 250px;
        text-align: left;

        &.tabletop-almanac {
            grid-template-columns: repeat(2, auto);
        }

        &.ac {
            display: flex;
            flex-direction: column;

            .ac-position {
                display: flex;
                align-items: center;
                gap: 2px;
            }

            .ac-shield {
                border-bottom: none;
            }
        }

        &.hp-mode {
            display: flex;
            flex-direction: column;
        }
    }

    .ruleset {
        display: flex;
        align-items: center;
        gap: 1ch;
    }

    .initiative-dice {
        display: flex;

        input {
            width: 5ch;
        }
    }

    .statblock-popover,
    .hp-bar-size {
        display: block;
        .small {
            display: block;
        }

        label {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }

        input {
            max-width: 7ch;
        }
    }

    .group-list {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        .group {
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 2px 5px;

            &:hover,
            &:active,
            &:focus {
                background-color: dimgrey;
            }

            button {
                cursor: pointer;
                border: none;
                background-color: transparent;
                color: white;

                &:hover {
                    color: red;
                }
            }
        }
    }

    .small {
        font-size: 0.7em;
    }
}
