@use "../utilities/breakpoint";

.gm-grimoire {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2px;
    margin-top: 45px;
    margin-bottom: 36px;

    @include breakpoint.tablet {
        margin-top: 0;
    }

    &.player {
        .help-buttons {
            margin-top: 0;
        }
    }

    .title {
        display: none;
        position: absolute;
        top: 1rem;
        margin: 0;

        @include breakpoint.laptop {
            display: initial;
        }

        .small {
            font-size: 10px;
        }
    }

    .ui-buttons {
        display: flex;
        position: fixed;
        top: calc(1rem - 6px);
        flex-direction: column;
        gap: 2px;
        z-index: 200;
        box-shadow: 0 0 10px var(--bg-color);
        border-radius: 4px;
        background-color: var(--bg-color);
        padding: 4px 8px;
        max-width: 210px;

        .headings {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5ch;

            @include breakpoint.laptop {
                flex-wrap: nowrap;
                width: min-content;
                height: 25px;
            }

            .toggle-preview {
                opacity: 0.8;
                height: 20px;

                &.active {
                    .player-icon {
                        fill: white;
                    }
                }

                .player-icon {
                    fill: grey;
                    height: 19px;
                }
            }

            .toggle-battle-focus {
                opacity: 0.8;
                padding: 1px;
                width: 20px;
                height: 20px;

                svg {
                    width: 16px;
                    height: 16px;
                    fill: white;
                }

                &.active {
                    background-color: #cdcdcd;

                    svg {
                        fill: black;
                    }
                }
            }

            .initiative-order {
                display: flex;
                gap: 0.5ch;

                .initiative-icon {
                    fill: green;
                }

                .sort-button {
                    position: relative;
                    padding-inline: 0;
                    width: 25px;
                    height: 20px;

                    &.reverse {
                        .arrow-icon {
                            scale: 1;
                        }
                    }

                    &.disabled {
                        &::after {
                            position: absolute;
                            top: 0;
                            left: 50%;
                            rotate: 45deg;
                            background-color: white;
                            width: 1px;
                            height: 100%;
                            content: "";
                        }
                    }

                    .arrow-icon {
                        scale: -1;
                        transition: all 0.25s ease;
                        width: 100%;
                        height: 17px;
                        fill: white;
                        object-position: center;
                    }
                }
            }
        }

        .battle-rounds {
            display: flex;
            align-items: center;
            gap: 0.5ch;
            border-radius: 4px;
            height: 20px;

            button {
                height: 20px;
                white-space: nowrap;
            }

            .battle-round {
                box-shadow: 0 0 -4px var(--bg-color);
                color: red;
                font-weight: bold;
                line-height: 1;
            }

            .battle-round-button {
                position: relative;

                &.back,
                &.next {
                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0.3;
                        background-color: lightgray;
                        width: 0;
                        height: 100%;
                        pointer-events: none;
                        content: "";
                    }
                    &.pressing {
                        &::after {
                            transition: width 0.5s;
                            width: 100%;
                        }
                    }
                }

                &.back {
                    &::after {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
    }

    .grimoire-content {
        margin-top: 10px;

        @include breakpoint.laptop {
            margin-top: 60px;
        }

        .player-token-list {
            display: flex;
            flex-direction: column;
            gap: 2px;
            margin-top: 16px;
        }
    }

    .gmg-name {
        display: flex;
        grid-row: 3/3;
        grid-column-start: 1;
        align-items: flex-end;
        gap: 1ch;
        translate: 0 -50%;
        margin-left: 7px;
        font-weight: 800;
        line-height: 1;
        white-space: nowrap;

        @include breakpoint.laptop {
            display: flex;
        }

        .small {
            padding-bottom: 1px;
            font-size: 0.6rem;
        }
    }
}
