.hp-tracker {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 25px;

    .title {
        align-self: flex-start;

        .small {
            font-size: 10px;
        }
    }

    .group-wrapper {
        .draggable-token-list-wrapper {
            display: grid;
            grid-template-rows: 1fr;
            transition: all 0.25s ease-in-out;
            overflow: hidden;

            .draggable-token-list-wrapper {
                min-height: 0;
            }
        }

        .empty-group {
            opacity: 0.5;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.5);
            height: 40px;

            &:not(:only-child) {
                display: none;
            }
        }

        &.hidden {
            .draggable-token-list-wrapper {
                grid-template-rows: 0fr;
            }

            .group-title {
                .hide-group {
                    &::after {
                        rotate: 0deg;
                    }
                }
            }

            .empty-group {
                display: block;
                background-color: transparent;
                height: 2px;
            }
        }

        .group-title {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, 1fr) 0.5fr 0.25fr;
            grid-template-areas: "name settings . init hide";
            align-items: center;
            justify-items: flex-start;
            gap: 1ch;
            padding-block: 5px;
            font-weight: 600;
            text-align: left;

            .group-name {
                display: flex;
                grid-area: name;
                align-items: center;
                gap: 1ch;
                margin-left: 1ch;
                max-width: 130px;

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &::before {
                    display: inline-block;
                    flex-shrink: 0;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M0-240v-63q0-43 44-70t116-27q13 0 25 .5t23 2.5q-14 21-21 44t-7 48v65H0Zm240 0v-65q0-32 17.5-58.5T307-410q32-20 76.5-30t96.5-10q53 0 97.5 10t76.5 30q32 20 49 46.5t17 58.5v65H240Zm540 0v-65q0-26-6.5-49T754-397q11-2 22.5-2.5t23.5-.5q72 0 116 26.5t44 70.5v63H780Zm-455-80h311q-10-20-55.5-35T480-370q-55 0-100.5 15T325-320ZM160-440q-33 0-56.5-23.5T80-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T160-440Zm640 0q-33 0-56.5-23.5T720-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T800-440Zm-320-40q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-600q0 50-34.5 85T480-480Zm0-80q17 0 28.5-11.5T520-600q0-17-11.5-28.5T480-640q-17 0-28.5 11.5T440-600q0 17 11.5 28.5T480-560Zm1 240Zm-1-280Z' fill='white'/%3E%3C/svg%3E");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    content: "";
                }
            }

            .toggle-button {
                width: 20px;
                height: 20px;
            }

            .settings {
                grid-area: settings;
            }

            .init-wrapper {
                display: flex;
                position: relative;
                grid-area: init;
                align-items: center;
                justify-self: center;
                height: 18px;

                .self {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    translate: 100% -50%;

                    &.hidden {
                        display: none;
                    }

                    &.visible {
                        display: block;
                    }
                }
            }

            .hide-group {
                display: flex;
                grid-area: hide;
                align-items: center;
                justify-self: center;
                cursor: pointer;
                outline: 1px solid white;
                border: none;
                padding: 0;

                &:hover {
                    outline-offset: 1px;
                }

                &::after {
                    display: block;
                    rotate: 90deg;
                    transition: all 0.25s ease-in-out;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='white'%3E%3Cpath d='M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z'/%3E%3C/svg%3E");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    width: 20px;
                    height: 20px;
                    content: "";
                }
            }
        }
    }
}
