.limit-box {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        background-color: lightgray;
        width: 0;
        height: 100%;
        pointer-events: none;
        content: "";
    }
    &:has(.pressing) {
        &::after {
            transition: width 0.5s;
            width: 100%;
        }
    }
}
