@use "../utilities/breakpoint";

.pf-ability {
    .main-info {
        display: flex;
        flex-direction: column;
        gap: 1ch;

        @include breakpoint.laptop {
            flex-direction: row;
            justify-content: space-between;
        }

        .ability-name {
            width: 90px;
            hyphens: auto;
        }

        .action-type {
            color: lightgrey;
            font-size: 12px;
            white-space: nowrap;
        }

        .ability-description {
            &.ability {
                grid-column: span 2;
            }
        }
    }

    .action-details-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.25s ease-in-out;

        &.open {
            grid-template-rows: 1fr;

            .action-details {
                opacity: 1;
                overflow: visible;
            }
        }

        .action-details {
            opacity: 0;
            transition: 0.25s ease-in-out;
            min-height: 0;
            overflow: hidden;
            list-style: none;

            b {
                text-transform: capitalize;
            }
        }
    }
}
