@use "../utilities/breakpoint";

.spells {
    .spell-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 1ch;

        .spell-filter {
            cursor: pointer;

            &.active,
            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
                color: black;
            }
        }
    }

    .spell-list {
        padding: 0;
        list-style: none;

        .spell {
            padding-bottom: 5px;

            .spell-main {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 10px;

                .spell-info {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .spell-header {
                        display: flex;
                        align-items: center;
                        gap: 1ch;

                        .spell-name {
                            margin: 0;
                            font-size: 18px;
                            line-height: 1;
                            text-transform: capitalize;
                        }

                        .spell-level {
                            color: lightgrey;
                            font-size: 12px;
                        }
                    }

                    .spell-damage {
                        display: flex;
                        font-size: 14px;
                    }

                    .spell-components {
                        display: flex;
                        padding-right: 10px;
                        font-size: 14px;
                        line-height: 1;

                        .material-details {
                            color: lightgray;
                            font-size: 12px;
                            hyphens: auto;
                        }
                    }
                }
            }

            .spell-more-info {
                display: grid;
                grid-template-rows: 0fr;
                transition: 0.25s ease-in-out;
                margin-left: 1ch;
                border-left: 1px solid white;
                padding-left: 1ch;

                &.open {
                    grid-template-rows: 1fr;

                    .more-info-content {
                        opacity: 1;
                    }
                }

                .more-info-content {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    opacity: 0;
                    transition: 0.25s ease-in-out;
                    min-height: 0;
                    overflow: hidden;

                    .info-bits {
                        display: flex;
                        column-gap: 5px;
                        flex-direction: column;
                        flex-wrap: wrap;
                        column-fill: auto;
                        column-count: 2;
                        height: 150px;

                        @include breakpoint.laptop {
                            column-gap: 20px;
                        }

                        span {
                            width: calc(50% - 5px);
                            text-overflow: ellipsis;

                            @include breakpoint.laptop {
                                width: calc(50% - 20px);
                            }
                        }
                    }
                }
            }
        }
    }
}

.spells {
    .section-title {
        text-decoration: underline;
    }

    .spell-category {
        margin-top: 2ch;
        .spell-category-main {
            display: flex;
            justify-content: space-between;

            .spell-category-header {
                display: flex;
                align-items: flex-start;
                gap: 1ch;
                margin-bottom: 1ch;

                .spell-category-name {
                    margin: 0;
                    line-height: 1;
                }

                .spell-category-info {
                    color: lightgrey;
                    font-size: 12px;

                    .text-roll {
                        display: inline-flex;
                        align-items: center;
                        gap: 1ch;
                    }
                }
            }
        }

        .spell-category-details {
            display: grid;
            grid-template-rows: 0fr;
            transition: 0.25s ease-in-out;

            &.open {
                grid-template-rows: 1fr;

                .spell-category-details-content {
                    opacity: 1;
                }
            }

            .spell-category-details-content {
                opacity: 0;
                transition: 0.25s ease-in-out;
                min-height: 0;
                overflow: hidden;

                .spell-filters {
                    margin-bottom: 1ch;
                }

                .spell-list {
                    overflow: hidden;
                    .spell-list-title {
                        margin-block: 1ch 0;
                        text-decoration: underline;

                        .spell-list-type {
                            text-transform: capitalize;
                        }
                        .spell-list-level {
                            color: lightgrey;
                            font-size: 10px;
                        }
                    }

                    .spells {
                        margin: 0;
                        padding: 0 0 0 2ch;
                        list-style: none;

                        .spell {
                            margin-top: 1ch;
                        }
                    }
                }
            }
        }
    }
}

.spells {
    h4 {
        margin-block: 4px;
    }

    .spell-list {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .spell-name-list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .spell-name {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid white;
                padding-bottom: 10px;
                text-transform: capitalize;

                &:first-child {
                    border-top: 1px solid white;
                    padding-top: 10px;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}
