.lineBreak {
    display: flex;
    align-items: center;
    padding-block: 4px;

    &::before,
    &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60.5mm' height='18.100004mm' viewBox='0 0 69.7 18.100004' version='1.1'%3E%3Cg id='g3' transform='matrix(0.26458333,0,0,0.26458333,89.429167,122.2375)' fill='grey'%3E%3Cpath d='m -338.00001,-429.15671 172.26129,35.1882 -36.56045,-34.26885 38.15743,-33.76265 z' /%3E%3Cellipse cx='-105.35432' cy='-428.20629' rx='31.53231' ry='31.532309' /%3E%3C/g%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 5px;
        content: "";
    }

    &::after {
        rotate: 180deg;
    }
}

.line {
    background-color: grey;
    width: 100%;
    height: 1px;
}

.fancyLine {
    border-top: 1px solid grey;
    width: 100%;
}

.decoration {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
    padding-bottom: 8px;

    &::before,
    &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.2593622mm' height='1.9051172mm' viewBox='0 0 9.2593622 1.9051172'%3E%3Cg%3E%3Cpath id='path7' style='fill:none;fill-opacity:1;stroke:grey;stroke-width:0.264583;stroke-dasharray:none;stroke-opacity:1' d='M 5.1695366,0.14717541 C 4.5959747,0.28852093 4.049684,0.53968909 3.5690039,0.88305252 3.4702162,0.95361941 3.3715626,1.0309702 3.3117509,1.136617 c -0.029906,0.052823 -0.049297,0.1122542 -0.051076,0.1729297 -0.00178,0.060675 0.014751,0.1225474 0.050772,0.171406 0.047398,0.064291 0.1244314,0.1014376 0.2027024,0.1173627 0.078271,0.015925 0.1589643,0.01296 0.238824,0.011416 0.082776,-0.0016 0.1655824,-0.0016 0.2483581,-1e-7 M 3.7728956,0.15978796 C 3.6489954,0.16225497 3.5253718,0.17837291 3.404981,0.20775635 3.3213488,0.22816821 3.2390545,0.25505717 3.1614693,0.29236019 3.0620257,0.34017271 2.9711336,0.40475192 2.8893095,0.47877814 2.6466705,0.69829352 2.4880409,0.99438039 2.2718851,1.240017 2.1205152,1.4120317 1.9393587,1.5598131 1.7329158,1.6592275 1.526473,1.7586419 1.2940874,1.8083887 1.0660151,1.7863686 0.8379427,1.7643486 0.61514947,1.6682167 0.45321885,1.5061046 0.29128822,1.3439924 0.19433248,1.1149214 0.20567948,0.88606962 0.21298541,0.73872 0.26454251,0.59371419 0.35266594,0.4753945 0.44078938,0.35707482 0.56522279,0.26601573 0.70496468,0.21871361 c 0.1397419,-0.0473021 0.29420225,-0.0504959 0.43550972,-0.008099 0.1413074,0.0423969 0.2687167,0.13031738 0.3577418,0.24796012 0.052413,0.0692611 0.09175,0.14877298 0.1119386,0.23325155 0.020188,0.0844786 0.020958,0.17390947 -8.25e-4,0.25799102 C 1.5875471,1.0338988 1.54292,1.1123709 1.4796282,1.1718548 1.4163364,1.2313388 1.3343149,1.2712791 1.2480478,1.2813875 1.1405405,1.2939847 1.0283107,1.258768 0.94727402,1.1870075 0.86623738,1.1152469 0.81770281,1.0081015 0.81720228,0.89985975 M 9.3318302,0.15992223 1.923504,0.15985188' /%3E%3C/g%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 35px;
        height: 7px;
        content: "";
    }

    &::after {
        transform: scaleX(-1);
    }
}
