.character-sheet {
    .back-button {
        display: flex;
        position: absolute;
        top: 30px;
        left: 30px;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        border: none;
        background-color: transparent;

        &::before {
            transition: width 0.25s ease-in-out;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' preserveAspectRatio='none'%3E%3Cpath d='M359-242 120-481l239-239 43 43-166 166h604v60H236l166 166-43 43Z' fill='white'/%3E%3C/svg%3E");
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            content: "";
        }

        &:hover {
            &::before {
                width: 25px;
            }
        }
    }

    .content {
        margin-top: 30px;
    }
}
