.sheet {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-area: sheet;
    justify-content: flex-start;
    gap: 0.3ch;
    row-gap: 0.2ch;
    width: 95px;

    input[type="text"],
    input[type="number"],
    input[type="select"] {
        padding-inline: 4px;
        padding-block: 0;
        width: 25px;
        height: 18px;
        text-align: right;
    }

    .sheet-icon {
        grid-row: 1/1;
        grid-column: 1/1;
        fill: white;
        width: 20px;
        height: 20px;
    }

    button {
        grid-row: 1/1;
        height: 20px;
    }

    .remove-statblock {
        padding: 1px;
        width: 20px;

        .delete-icon {
            width: 100%;
            fill: white;
            height: 100%;
        }
    }

    .owner-color {
        grid-row: 2/2;
        grid-column: 1/1;
        border-radius: 4px;
        height: 20px;
    }

    .select-owner {
        grid-row: 2/2;
        grid-column: 2/4;
        border: 1px solid lightgrey;
        border-radius: 4px;
        background-color: var(--bg-color);
        max-width: 67px;
        height: 20px;
        color: white;
    }
}

.player {
    .sheet {
        width: auto;
    }
}
