.token-icon {
    position: relative;
    flex-direction: column;
    width: 46px;
    height: 46px;
    overflow: hidden;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        scale: 0;
        opacity: 1;
        border-radius: 50%;
        background-color: white;
        width: 100%;
        height: 100%;
        content: "";
    }

    &.mouse-down {
        &::after {
            scale: 1;
            transition: scale 1s linear;
        }
    }

    img {
        width: 100%;
        overflow: hidden;
        object-fit: contain;
        object-position: center;
    }

    .flipped {
        scale: -1 1;
    }

    .preview-hp {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #00000088;
        padding-top: 2px;
        width: 100%;
        height: calc(100% / 4.85);
        font-weight: 600;
        font-size: 0.5rem;
        line-height: 1;

        &::before {
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: 1;
            background-color: #ff000088;
            width: calc(var(--width) - 2px);
            height: calc(100% - 2px);
            content: "";
        }

        &::after {
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: 2;
            background-color: #0000ffff;
            width: calc(var(--temp-width) - 2px);
            height: calc(100% - 2px);
            content: "";
        }

        .preview-hp-text {
            position: relative;
            z-index: 3;
        }
    }

    .preview-ac {
        position: absolute;
        right: 0;
        bottom: 10px;
        opacity: 0.9;
        width: 20px;
        height: 24px;

        .shield-icon {
            position: absolute;
            top: 0;
            left: 0;
            fill: grey;
            stroke: black;
            stroke-width: 0.3;
        }

        .preview-value {
            position: absolute;
            top: 3px;
            left: 2px;
            width: 15px;
            font-weight: 600;
            font-size: 0.8rem;
            text-align: center;
            text-shadow: 0 0 1px black;
        }
    }
}
