.initiative-wrapper {
    display: grid;
    grid-template-columns: auto repeat(2, 1fr);
    grid-area: init;
    gap: 0.5ch;

    .initiative-icon {
        fill: green;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        width: 25px;
        text-align: right;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .init-wrapper {
        position: relative;
        width: 35px;
        height: 20px;

        .dice-button {
            height: 20px;
        }

        .dice-button {
            gap: 0;
            transition: all 0.25s ease;
            height: 20px;

            &:disabled {
                filter: invert(1);
            }

            &.rolling {
                svg,
                img {
                    animation: rotating 0.5s linear infinite;
                }
            }

            .dice-preview {
                width: 15px;

                svg {
                    width: 15px;
                    height: 15px;
                    fill: white;
                }
            }
        }

        .self {
            position: absolute;
            bottom: 0;
            left: 50%;
            translate: -50% 100%;
            z-index: 1;
            transition: all 0.25s ease;

            &.hidden {
                display: none;
            }

            &.visible {
                display: block;
            }

            &:hover {
                background-color: lightgrey;
                color: var(--bg-color);
            }
        }
    }

    .initiative-bonus {
        grid-column: 2/2;
    }
}
