.initiative-wrapper {
    display: grid;
    grid-template-columns: auto repeat(2, 1fr);
    grid-area: init;
    gap: 0.5ch;
    row-gap: 0.2ch;
    height: 46px;

    .initiative-icon {
        fill: green;
    }

    input[type="text"],
    input[type="number"] {
        padding-inline: 4px;
        padding-block: 0;
        width: 25px;
        height: 18px;
        text-align: right;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        width: 25px;
        text-align: right;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .init-wrapper {
        position: relative;
        width: 35px;
        height: 20px;

        .dice-button {
            height: 20px;
        }

        .dice-button {
            gap: 0;
            transition: all 0.25s ease;
            width: 35px;
            height: 20px;
            overflow: hidden;

            &:disabled {
                filter: invert(1);
            }

            &.rolling {
                svg,
                img {
                    animation: rotating 0.5s linear infinite;
                }
            }

            .dice-preview {
                width: 13px;

                svg {
                    width: 13px;
                    height: 13px;
                    fill: white;
                }
            }
        }
    }

    .initiative-bonus {
        grid-column: 2/2;
    }
}
