.map-button {
    opacity: 0.5;
    height: 20px;

    &.active {
        opacity: 1;
        .map-default {
            .map-icon {
                fill: white;
            }

            .player-icon {
                fill: white;
            }
        }
    }

    .map-default {
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: grey;
        padding: 0;
        padding-inline: 1px;
        width: 35px;
        height: 20px;
        overflow: hidden;

        &.loading {
            &::before {
                animation: rotating 0.5s linear infinite;
                border: 1px solid white;
                border-bottom: none;
                border-radius: 100%;
                aspect-ratio: 1/1;
                height: 50%;
                content: "";
            }
            .map-icon {
                display: none;
            }

            .player-icon {
                display: none;
            }
        }

        .map-icon {
            flex-shrink: 0;
            fill: grey;
            width: 19px;
            height: 19px;
        }

        .player-icon {
            flex-shrink: 0;
            align-self: flex-end;
            fill: grey;
            width: 16px;
            height: 16px;
        }
    }
}
