$mobile: 380px;
$tablet: 470px;
$laptop: 560px;

@mixin min-width($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin mobile() {
    @include min-width($mobile) {
        @content;
    }
}

@mixin tablet() {
    @include min-width($tablet) {
        @content;
    }
}

@mixin laptop() {
    @include min-width($laptop) {
        @content;
    }
}

// try to avoid max-width breakpoints
@mixin max-width($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin mobile-and-tablet-only {
    @include max-width($laptop - 1px) {
        @content;
    }
}
