@use "../../../../_css/utilities/breakpoint";

.heading {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.1;
}

.sectionHeading {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.1;
}

.spellCategoryInfo {
}
